 {% extends "base.html" %} 
{% load crispy_forms_tags %}


{% url 'admin:jsi18n' as jsi18nurl %} <script type="text/javascript" src="{{ jsi18nurl }}"></script> 


{% block title %}
	Add Calendar Date
{% endblock %}


 
{% block content %} 


<div class='col-sm-8 col-sm-offset-1'>

<h3> Add a calendar date for working days </h3>
<br>
	<form method='POST' action=''> {% csrf_token %}

	{{form|crispy}}
	<input class='btn btn-primary' type='submit' value='Add Date'/>
	</form>
</div>
<!-- <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/> -->

{% endblock %}