
b
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 {% block content %}

<!-- need to have POST to indicate its not a default get method and action says what url to send it to -->
<!-- <form method='POST' action=''> {% csrf_token %} -->

<div class='container'>
<br>
 	<div class='row'>
<div class='col-sm-8'>

	<h3> Attendance </h3>

	<br>

	<br>
		<form method='POST' action=''> {% csrf_token %}

		{{form|crispy}}

		  
		<input class='btn-lg btn-primary' type='submit' value='Add to List'/>
		</form>

</div>
</div>
</div>

{% endblock %}