

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 {% block content %}

<!-- need to have POST to indicate its not a default get method and action says what url to send it to -->
<!-- <form method='POST' action=''> {% csrf_token %} -->
<br>


<div class='container'>
<br>
    <div class='row'>
<div class='col-sm-8'>
<br>
	<h3> Affiliated Schools </h3>

	<br>

	<br>

    {% for school in affiliated_schools %} 
    	<ul>
        {% comment %} <a href="{% url 'attendance_dates' school.pk %}">{{ school}}</a> &nbsp&nbsp-    {% endcomment %}

        {{ school}} &nbsp&nbsp-
        	<!-- net new -->
        	
        	&nbsp&nbsp&nbsp <a href="{% url 'attendance_dates' school.pk 'morning' %}">Morning</a>
        	&nbsp&nbsp&nbsp <a href="{% url 'attendance_dates' school.pk 'evening' %}">Evening</a> 
        	
        	<!-- finish -->
        </ul>
        <hr/>
    {% endfor %}
 
 <br>
<br>
<a href='{% url "user_homepage" %}' class="btn btn-primary" role="button">
            Return home</a> 

</div>
</div>
</div>


{% endblock %}