
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 
{% block content %} 

 


<br>

<br>

<div class='col-sm-8 col-sm-offset-1'>

<h3> Student Attendance Reports </h3>
<hr>
 

<a href='{% url "attendance_by_school_month" %}'>
	<p class='lead text-align-left'><p class='lead text-align-left'>
	Overall Attendance by School / Month - Last 12 Months</p></a>
	

<a href="{% url 'attendance_summary' %}">
	<p class='lead text-align-left'><p class='lead text-align-left'>
	Monthly snapshot of key stats across schools - Last 12 Months</p></a>
	

<a href="{% url 'attendance_by_school' %}">
	<p class='lead text-align-left'><p class='lead text-align-left'>
	Monthly snapshot of key stats across schools - Select Month</p></a> 
	
<br>
<a href='{% url "user_homepage" %}' class="btn btn-primary btn-lg" role="button">
            Go Home</a> 
</div>

<br>
<br>
{% endblock %}