

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 {% block content %}

<!-- need to have POST to indicate its not a default get method and action says what url to send it to -->
<!-- <form method='POST' action=''> {% csrf_token %} -->

<div class='col-sm-8 col-sm-offset-1'>

	<h3> Select a date to enter Attendance </h3>

	<br>

	<br>

    {% for date in dates_range %}

        <a href="{% url 'add_attendance2' school_id date %}">{{ date }}</a><br/>

    {% endfor %}

</div>


{% endblock %}