
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 
{% block content %}

 


<br>

<br>

<div class='col-sm-8 col-sm-offset-1'>

<h3> Attendance </h3>
<br>


<!-- <form method='POST' action=''> {% csrf_token %}
    <table>
      {% crispy formset %}      
    </table>
  <input class='btn-lg btn-primary' type='submit' value='Add'/>
</form>
 -->

 <table id="formset" class="form">
 {{ formset.management_form }}

{% for form in formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr>
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

<br>
<input class='btn btn-primary' type='submit' value='Enter'/>

</div>

{% endblock %}