{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy formset helper %}

 
{% block content %}


<div class='container'>
<br>
  <div class='row'>
<br>

<div class='col-sm-9'>

<h3> Enter attendance for: <b style="color:#85BC22"> {{ school|title }} | {{shift}} | {{ date}}  </b></h3>
<br>


<form id="attendance_form" class="form" method="post" data-link="{% url 'ajax_save_student_attendance' %}">{% csrf_token %}
    <input id="general_data" name="general_data" class="hidden">

    <table class="attendance_table">
    {% for class, attendance_students in student_classes_attendance.items %}
          <thead>
              <tr style="height: 30px">
                  <th>{{ class }}</th>
              </tr>
              <tr style="height: 30px;">
                  <th style="padding-left: 2px">Student</th>
                  <th style="padding-left: 2px">Attendance date</th>
                  <th style="padding-left: 2px">Status</th>
                  <th style="padding-left: 2px">Notes</th>
              </tr>
          </thead>

          {% for student in attendance_students %}
                <tr class="student-attendance-row {% if not student.attendance_id %}attendance-to-create{% endif %}"
                    data-student-id="{{ student.id }}"
                    data-class-id="{{ class.id }}"
                    data-attendance-id="{{student.attendance_id}}">
                   <td style="padding: 2px">
                       <select disabled class="form-control" name="student">
                           <option selected>{{student.first_name }} {{student.last_name }}</option>
                       </select>
                   </td>
                   <td  style="padding: 2px">
                       <input disabled class="form-control" name="attendance_date" value="{{ date }}">
                   </td>
                   <td  style="padding: 2px">
                       <div class="radio-inline">
                          <label><input type="radio" name="status-{{ student.id }}" value="present"
                           {% if student.status == "present" %}checked{% endif %}>present</label>
                       </div>
                       <div class="radio-inline">
                          <label><input type="radio" name="status-{{ student.id }}" value="absent"
                                        {% if not student.status or student.status == "absent" %}checked{% endif %}>absent</label>
                       </div>
                   </td>
                   <td  style="padding: 2px">
                        <input class="form-control" name="notes" value="{{ student.notes }}">
                   </td>
                </tr>
          {% endfor %}
    {% endfor %}
</table>


<br>
<input class='btn btn-primary btn-lg' type='submit' value='Submit Attendance'/>
<br>
<br>
</form>
<br>
<br>

</div>
</div>
</div>

{% endblock %}


{% block extra_script %}

    <script type="text/javascript">

    $(document).ready(function(){

        $('.student-attendance-row input, .student-attendance-row select').on("change", function(){
            $(this).closest('.student-attendance-row').addClass('changed')
        });

        form_submitted = false;
        $('#attendance_form').on("submit", function(e){
//            console.log("submit");
            if (form_submitted==false){
                e.preventDefault();
                data = {};
                var csrf_token = $('#attendance_form [name="csrfmiddlewaretoken"]').val();
                data["csrfmiddlewaretoken"] = csrf_token;
                data["school_id"] = "{{ school_id }}";
                data["shift"] = "{{ shift }}";
                data["attendance_date"] = "{{ date }}";
                attendance_data = [];
                $('.student-attendance-row.changed, .student-attendance-row.attendance-to-create').each(function(){
                    class_id = $(this).data("class-id");
                    student_id = $(this).data("student-id");
                    status = $(this).find('[type="radio"]:checked').val();
                    notes = $(this).find('[name="notes"]').val();
                    attendance_id = $(this).data("attendance-id");
                    attendance_data.push({"class_id": class_id,
                        "attendance_id": attendance_id,
                        "student_id": student_id, "status": status,
                        "notes": notes})
                });
                data["attendance_students_data"] = JSON.stringify(attendance_data);
                var url = $(this).data('link');
                form_submitted = true;
                $.ajax({
                     url: url,
                     type: 'POST',
                     data: data,
                     cache: true,
                     success: function (data) {
                         $('#attendance_form').submit();
                     }
                });
            }
        });

        $('form').bind('submit', function () {
            $(this).find('select.attendance_student').prop('disabled', false);
      });
    });

    </script>
{% endblock extra_script %}