
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 
{% block content %}

 


<br>

<br>

<div class='col-sm-8 col-sm-offset-1'>

<h3> {{ school|title }} - {{ date }} </h3>
<br>


<form method='POST' action="{% url 'add_attendance2' school.pk date %}"> {% csrf_token %}
     <table id="formset" class="form">


{% for clas, formset in formsets.iteritems %}

         {{ formset.management_form }}

{% for form in formset %}
  {% if forloop.first %}
  <thead>
  <tr style="height: 30px">
      <th>{{ clas }}</th>
  </tr>
  <tr style="height: 30px;">
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr>

  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}

{% endfor %}
</table>


<br>
<input class='btn btn-primary' type='submit' value='Enter'/>
</form>


</div>

{% endblock %}