{% extends "base.html" %}
{% load staticfiles %}





<br> 

{% block content %}

<br>
<br>
<br>


	<div class='row'>
	<!-- <div class='col-sm-4 col-sm-offset-1'> -->
	<!-- <div class='col-md-4 col-md-offset-1'> -->
	
	<div class='col-xs-12 col-xs-offset-1 col-md-4 col-md-offset-1'>

		<h3> Quick updates </h3>
		<hr/>


		<a href='{% url "affiliated_schools" %}'>
		<p class='lead text-align-left'><p class='lead text-align-left'>  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Add attendance</p></a>

		<a href=''>
		<p class='lead text-align-left'>option2</p></a>

		<a href=''>
		<p class='lead text-align-left'>option3</p></a>

		<a href=''>
		<p class='lead text-align-left'>option4</p></a>

		<a href=''>
		<p class='lead text-align-left'>option5</p></a>




			<br>
			<br>
	</div>

	<!-- <div class='col-sm-4'> -->
	<div class='col-xs-12 col-xs-offset-1 col-md-4 col-md-offset-1'>
	<h3> Report </h3>
	<hr/>


<!-- <a href=''>
<p class='lead text-align-left'>Executive summary</p></a> -->

	<a href='{% url "attendance_report" %}'>
	<p class='lead text-align-left'> Attendance Report</p></a>


	<a href=''><p class='lead text-align-left'>Option 2</p></a>

	<br>
	<a href=''>
	<p class='lead text-align-left'> Option 3</p></a>

	<a href=''>
	<p class='lead text-align-left'> Option 4</p></a>




<br>
<br>
<br>
<!-- <hr/>

</div>
</div>

{% endblock %}