{% extends "base.html" %}

{% block title %}
	Student Profile
{% endblock %}


{% block content %} 

 <div class='container'>
<br>
 	<div class='row'>
		<div class='col-sm-5'> 
			
			<br>
	 		<h3> Student name: <b style="color:#85BC22"> {{std.first_name}} {{std.last_name}} </b></h3>
	 		
	 		<br>
	 		<p><b>Active: </b><z style="color:#85BC22"> 
	 			{% if std.currently_enrolled is True %} <b>Yes</b> {% endif %} 
	 			{% if std.currently_enrolled is False %}<b style="color:#800000"> No </b><br>
	 			<b> Reason left: <z style="color:#800000"> {{std.reason_left}} </z></b><br>
	 			{% endif %} 
	 		</z><br></p>
			<b>PKSS School:</b><z style="color:#85BC22"> {{std.pkss_school}}</z><br>
			<b>PKSS Class:</b><z style="color:#85BC22"> {{std.pkss_class}}</z>		<br>
			<b>Enrolled since:</b><z style="color:#85BC22"> {{std.date_joined|date:"M d Y"}} | {{std.date_joined|timesince}} ago </z>		
	 		
	 		<br>
	 		<br>
	 		<hr>
	 		
	 		<h4>Personal Information</h4>
	 		<br>
	 		<b>Registration number:</b><z style="color:#939393"> {{std.registration_number}}</z><br>
	 		<b>Gender:</b><z style="color:#939393"> {{std.gender}}</z><br>
	 		<b>Date of birth:</b><z style="color:#939393"> {{std.date_of_birth}}</z><br>
	 		<b>Age:</b><z style="color:#939393"> {{std.date_of_birth|timesince}}</z><br>
	 		<b>Place of birth:</b><z style="color:#939393"> {{std.place_of_birth}}</z><br>
	 		<b>Father's name:</b><z style="color:#939393"> {{std.fathers_name}}</z><br>
	 		<b>Mother's name:</b><z style="color:#939393"> {{std.mothers_name}}</z><br>
	 		<b>Current Address:</b><z style="color:#939393"> {{std.address_current}}</z><br>
	 		<b>Place of origin:</b><z style="color:#939393"> {{std.address_origin}}</z><br>
	 		<b>Contact Number:</b><z style="color:#939393"> {{std.contact_number}}</z><br>
	 		<b>Emergency Contact Number:</b><z style="color:#939393"> {{std.emergency_contact_number}}</z><br>
	 		<b>Fee Concession Percent:</b><z style="color:#939393"> {{std.fee_concession_percent}}</z><br>
	 		<b>Notes:</b><z style="color:#939393"> {{std.enrollment_notes}}</z><br>
	 		<br>
	 		<b>Profile last edited:</b><z style="color:#939393"> {{std.updated_last}}</z><br>
	 		<b>Profile last edited by:</b><z style="color:#939393"> {{std.updated_last_by}}</z><br>
	 		<br>
	 		<br>
	 		<br>
	 		<a href='{% url "user_homepage"%}' class="btn btn-default" role="button">
		 	Go Home</a><br>
 		</div>
 		<div class='col-sm-7'> 
 			<br>
 			<br><br>

 			<a href='{% url "edit_std_profile" std.pk %}' class="btn btn-primary" role="button">
		 	Edit Student data</a>
		 	
		 	{% if request.user.useraccess.access_level != 'teacher' %}
		 	<a href='{% url "unenroll_std_profile" std.pk %}' class="btn btn-primary" role="button">
		 	Unenroll Student</a>
		 	{% endif %}

	 	
	 		
	 		<hr>
 			<h4>Enrollment History:</h4>
 			<table class="table">	
				<!-- <div class='col-sm-10 col-sm-offset-2'> -->
			    <!-- <TABLE BORDER="1"> -->
			      <THEAD>        
			        <TR>
			          <TH style="text-align:center" width="30">Enroll/promo date</TH>
			          <TH style="text-align:left" width="20"> class </TH>
			          <TH style="text-align:center" width="20"> updated?</TH>
			        </TR>
			      </THEAD>
			      <TBODY>
			        {% for obj in s_hist %}
			        <TR>
			          <TD class="vert-align"> {{obj.date}} </TD>
			          <TD class="vert-align"> {{obj.pkss_class}}</TD>  
			          <TD class="vert-hor-align"> {{obj.created}} </TD>  
			        {% endfor %}
			        </TR>
			        
			      </TBODY>
			    </TABLE>


 			<br>
 			<h4>Attendance History (Last 12 months):</h4>

 			<div class="panel panel-default">
				<div id="chart_panel" class="panel-body" style="width:100%;height:250px"></div>
			</div>

 			<table class="table">	
				<!-- <div class='col-sm-10 col-sm-offset-2'> -->
			    <!-- <TABLE BORDER="1"> -->
			      <THEAD>        
			        <TR>
			          <TH style="text-align:center">Name</TH>
			          <TH style="text-align:center">Yr/Month</TH>
			          <TH style="text-align:left" > Days present</TH>
			          <TH style="text-align:left" > Total days</TH>
			          <TH style="text-align:center" width="130"> % Attendance</TH>
			        </TR>
			      </THEAD>
			      <TBODY>
			        {% for obj in student_attendance %}
			        <TR>
			          <TD class="vert-hor-align">{{obj.first_name}} </TD>
			          <TD class="vert-hor-align">{{obj.year_month}} </TD>
			          <TD class="vert-hor-align">{{obj.present}} </TD> 
			          <TD class="vert-hor-align">{{obj.total}} </TD>  
			          <TD class="vert-hor-align">{{obj.percent|floatformat:0}}% </TD>  
			        </TR>
			        {% endfor %}
			        
			        
			      </TBODY>
			    </TABLE>
				<!-- </div> -->
		


 		</div>

 		<hr/>
	</div>

</div>

{% endblock %}


{% block scr %}

<script type="text/javascript">
$(document).ready(function() {

    // Glucose Average by Day chart
     var options = {
        chart: {
            renderTo: 'chart_panel',
            type: 'line',
        },
        legend: {enabled: false},
        credits: {enabled: false},
        title: {text: null},
        xAxis: {title: {text: null}, labels: {rotation: -45}},
        yAxis: {title: {text: '% Attendance'}},
        plotOptions: {line: {dataLabels: {enabled: true}} },
        series: [{}],
    };

    var chartDataObj = {{chartdata|safe}} ;
    // $.getJSON(chartDataObj,
    //     function(data) {
    //         options.xAxis.categories = data['year_month'];
    //         options.series[0].name = 'Attendance';
    //         options.series[0].data = data['present'];

    //         var chart = new Highcharts.Chart(options);
    // });
    options.xAxis.categories = chartDataObj['year_month'];
    options.series[0].name = 'Attendance';
    options.series[0].data = chartDataObj['percent'];
    var chart = new Highcharts.Chart(options);

    //this script below works
 //    var data = {
	// 	    "year_month": [
	// 	      "A",
	// 	      "B",
	// 	      "C",
	// 	    ],
	// 	    "present": [
	// 	      9.0,
	// 	      12.0,
	// 	      13.0,
	// 	    ],
		  
	// };
	// options.xAxis.categories = data['year_month'];
 //    options.series[0].name = 'Attendance';
 //    options.series[0].data = data['present'];
 //    var chart = new Highcharts.Chart(options);

    
    
  
});  
</script>


{% endblock scr %}
