{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- DOCTYPE html -->


{% block content %}

<br>
<br>

<div class='col-sm-8 col-sm-offset-1'>
<h3>Lookup Student Profile</h3>


<!-- need to have POST to indicate its not a default get method and action says what url to send it to -->
<!-- <form method='POST' action=''> {% csrf_token %} -->


<br>
<br>

Enter the first name OR last name of the student you are looking for

<br>
<br> 


	<form method='GET' action=''>

	<!-- <input type='text' name='q1' placeholder='Lastname'/> -->
	<input type="text" name= 'q1' class="form-control" placeholder="firstname OR lastname" >

	<br>
	<input class='btn btn-primary' type='submit' value='Search'/>
	</form>

<br>


<hr/>

{% if query %}
	{% for obj in queryset_list %}
	<ul>
	<a href='{% url "std_profile" pk=obj.pk %}'>
	{{obj.first_name}}
	{{obj.last_name}} |
	Reg Number: {{obj.registration_number}} |
	<!-- {{obj.pkss_school}} | -->
	{{obj.pkss_class}} |
	Active: {% if obj.currently_enrolled is True %} Yes {% endif %} {% if obj.currently_enrolled is False %} No {% endif %}  
	</a>
	
	</ul>
	<hr/>
	{% endfor %}
{% endif %}

<br>


{% endblock %}
