

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


 {% block content %}


 <div class='container'>
<br>
    <div class='row'>
<br>
<div class='col-sm-6'>
<br>
	<h3> List of schools for which you may take teacher attendance:</h3>

	<br>

	<br>

    {% for obj in affiliated_schools %} 
    	<ul>
            <a href="{% url 'tattendance_dates' obj.pk %}">
            {{ obj}} 
        	</a> 
        	<!-- finish -->
        </ul>
        <hr/>
    {% endfor %}
 
</div>
</div>
</div>


{% endblock %}