{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy formset helper %}

 
{% block content %}


<br>

<div class='container'>

  <div class='row'>
<div class='col-sm-12'>

<h3> Enter Teacher attendance for teachers in: <b style="color:#85BC22"> {{ school|title }} | {{ date}}        </b></h3>
<br>

  <form method='POST'> {% csrf_token %}

  <table id="formset" class="form">

   {{ formset.management_form|crispy }}

  {% for form in formset.forms %}

    <!-- {% crispy form %} -->
    {% if forloop.first %}
    <thead>

    <tr style="height: 30px;">
      {% for field in form.visible_fields %}
      <th>{{ field.label|capfirst }}</th>
      {% endfor %}
    </tr></thead>
    {% endif %}
    <tr>

    {% for field in form.visible_fields %}
  
      <td style="padding: 4px">
       {% if field.label == "time" %}
          <div class="pos-relative time-picker-container">
              {{ field }}<i class="glyphicon glyphicon-time form-control-feedback pos-absolute time-picker-container"></i>
          </div>
       {% elif field.label == 'Status' %} <!-- was used native Django widget -->
          {% for radio in form.status %}
                <span class="radio-inline"> {{ radio }} </span>
          {% endfor %}
      {% else %}  <!-- was used crispy_form -->
           {# Include the hidden fields in the form #}
           {% if forloop.first %}
             {% for hidden in form.hidden_fields %}
             {{ hidden|as_crispy_field }}
             {% endfor %}
           {% endif %}
             {{ field.errors.as_ul }}
             {{ field }}
       {% endif %}

      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>


  <br>
  <input class='btn btn-primary' type='submit' value='Enter'/>
  </form>


</div>
</div>
</div>


{% endblock content %}


{% block extra_script %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){

        $('.time-picker').datetimepicker({
            format: "HH:mm"
        });

        $('select').each(function(){
            if($(this).find('option:selected').text() == 'absent')
                $(this).css({'background-color': '#ff9999'});
            if($(this).find('option:selected').text() == 'present')
                $(this).css({'background-color': 'lightgreen'});
        });

        $('select').on('change', function(){
            if($(this).find('option:selected').text() == 'absent')
                $(this).css({'background-color': '#ff9999'});
            if($(this).find('option:selected').text() == 'present')
                $(this).css({'background-color': 'lightgreen'});
        });

        function getParameterByName(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }


        if(getParameterByName('readonly')){
            $(this).find('select').prop('disabled', true);
            $(this).find('input[type="submit"]').hide();
        }


        $('form').bind('submit', function () {
            $(this).find('select.attendance_school').prop('disabled', false);
            $(this).find('select.attendance_teacher').prop('disabled', false);
      });
    });

    </script>
{% endblock extra_script %}